h1{
    color: red;
}

main{
    height: 600px;
    background-color: azure;
}

header{
    height: 70px;
    /* background-color: blue; */
}

/* 
header{
    height: 70px;
    background-color: gray;
} */